.right ul li:nth-child(1) .sub-menu::before{
    left: 3rem;
}
.right ul li:nth-child(2) .sub-menu::before{
    left: 2rem;
}
.right ul li:nth-child(3) .sub-menu::before{
    left: 24rem;
}
.right ul li:nth-child(4) .sub-menu::before{
    left: 20rem;
}


.profile-logo img{
    width: 2.5rem;
    cursor: pointer;
    margin: 0.1rem auto;
}
.profile-logo{
    margin-right: -3rem;
    border: 2px solid var(--color-bg3);
    border-radius: 50%;
    height: 3rem;
}
.profile-logo:hover{
    border-color: var(--color-bg2);
}
.profile-contain{
    display: none;
}
.pshow{
    display: block;
    position: absolute;
    box-shadow: 0rem 0rem 1rem 1rem rgba(0, 0, 0, 0.4);
    background: var(--color-bg);
    width: 24rem;
    height: 27rem;
    padding: 2rem 0rem;
    top: 5rem;
    right: 9rem;
    text-align: center;
    align-items: center;
    
}
.profile-img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-img h1{
    font-size: 1.2rem;
    margin-top: 0.3rem;
    margin-bottom: -0.3rem;
}
.pro-img{
    border: 2px solid var(--color-bg3);
    border-radius: 50%;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
}
.pro-img:hover{
    border-color: var(--color-bg2);
}
.pro-img img{
    margin: 0.1rem auto;
    width: 3.5rem;
}
.profile-img .accn{
    margin-top: 1rem;
    border: 2px solid var(--color-bg2);
    padding: 0rem 1rem;
    border-radius: 5rem;
    font-size: 1.1rem;
}
.profile-img .accn:hover{
    background: var(--color-bg2);
    color: var(--color-black);
    box-shadow: 0rem 0rem 1rem 1rem rgba(0, 0, 0, 0.2);
}

.add-accn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 2rem;
    padding: 0.5rem;
    border-top: 1px solid var(--color-bg3);
    border-bottom: 1px solid var(--color-bg3);
}
.add-accn:hover{
    background: var(--color-bg2);
    color: var(--color-black);
}
.add-accn:hover a{
    color: var(--color-black);
}
.add-accn .add-icon{
    font-size: 1.3rem;
}
.add-accn a{
    font-size: 1rem;
    margin: 0rem 0.4rem;
}
.add-accn a:hover{
    text-decoration: underline;
}
.sign-out{
    align-items: center;
    text-align: center;
    padding: 1.8rem;
    border-bottom: 1px solid var(--color-bg2);
}
.sign-out a{
    border: 1px solid var(--color-bg2);
    padding: 0.8rem 1.3rem;
    font-size: 1rem;
    font-weight: 600;
}
.sign-out a:hover{
    background: var(--color-bg2);
    color: var(--color-black);
    box-shadow: 0rem 0rem 1rem 1rem rgba(0, 0, 0, 0.2);
}
.policy{
    margin: 0 auto;
    margin-top: 1rem;
    align-items: center;
    text-align: center;
}
.policy a{
    margin: 0rem 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
}
.policy a:hover{
    color: var(--color-bg2);
    text-decoration: underline;
}
.policy span i{
    font-size: 0.8rem;
    margin: 0rem -0.5rem;
}
/* //header  */


.manager-contain {
    margin: 5rem;
    margin-top: 10rem;
    /* background: red; */
}
.manager-contain .manage-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    box-shadow: 0rem 0rem 1rem 1rem rgba(0, 0, 0, 0.2);
    padding: 5rem;
    padding-top: 0rem;
    /* background: red; */
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
.head-manage {
    margin: 0 auto;
}
.head-manage h1{
    font-size: 3.5rem;
    line-height: 1.25;
    color: var(--color-bg2);
  
}
.head-manage h1 span{
    color: var(--color-light);
 
}
.head-manage p{
    font-size: 1.3rem;
    margin-top: 0.2rem;
}
.right-manager img{
    width: 30rem;
}


.btn-manage{
    margin-top: 4rem;
}
.btn-man{
    margin: 0rem 0.6rem;
}
.btn-man:nth-child(1){
    background: var(--color-bg2);
    color: var(--color-black);
}
@media screen and (max-width:1340px){
    nav .container .right ul li:nth-child(5){
        display: block;
    }
    nav .container .right ul li:nth-child(6){
        display: block;
    }
    nav .container .right ul li:nth-child(7){
        display: block;
    }
}
@media screen and (max-width:1280px){

    .head-manage h1{
    font-size: 3rem;
   }
    .pshow{
        right: 6rem;
    }
    .right-manager img{
        width: 27rem;
    }
    
}
@media screen and (max-width:1190px){
    .manager-contain .manage-container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: 60rem;
        text-align: center;
        
    }
    .right-manager img{
        width: 25rem;
    }
    nav .container .right ul li:nth-child(5){
        display: block;
    }
    nav .container .right ul li:nth-child(6){
        display: block;
    }
    nav .container .right ul li:nth-child(7){
        display: block;
    }
    
    .head-manage h1{
        font-size: 2rem;
       }
       .head-manage p{
        font-size: 1rem;
       }

       .btnn{
        font-size: 1.3rem;
       }
}
@media screen and (max-width:800px){

    .manager-contain .manage-container{
        height: 50rem;
        
    }
    .right-manager img{
        width: 20rem;
    }
    .head-manage h1{
        font-size: 1.7rem;
    }
    .head-manage p{
        font-size: 1rem;
        margin-top: 0.4rem;
    }
    .pshow{
        right :4rem;
    }
}

@media screen and (max-width:700px){
    .manager-contain .manage-container{
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        padding: 1rem;
    }
    .btn-manage{
        display: flex;
        flex-direction: column;
    }
    .btn-man{
        margin: 0.5rem 0rem;
    }
    .right-manager img{
        width: 20rem;
    }
   
    .head-manage h1{
        font-size: 1.7rem;
    }
    .head-manage p{
        font-size: 0.9rem;
        margin-top: 0.4rem;
    }
    .pshow{
        right :2rem;
    }
    .head-manage{
        margin: 0 auto;
        width: 80%;
    }
    .btn-manage{
        width: 80%;
        margin: 0 auto;
        margin-top: 1rem;
    }
}
@media screen and (max-width:500px){
  
    .manager-contain{
        justify-content: center;
        align-items: center;
        width: 100%;
        left: 0;
    }
    .pshow{
        right :0.2rem;
    }

    .manager-contain .manage-container{
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        padding: 1rem;
        
    }
    .right-manager img{
        width: 15rem;
    }
    .head-manage h1{
        font-size: 1.5rem;
    }
    .head-manage p{
        font-size: 0.9rem;
        margin-top: 0.4rem;
    }
    .head-manage{
        margin: 0 auto;
        width: 80%;
    }
    .btn-manage{
        width: 80%;
        margin: 0 auto;
        margin-top: 1rem;
    }
}